nav {
    display: block;
    width: 960px;
    margin: 100px auto;
    text-align: center;
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      display: inline-block;
      background: #333;
      color: white;
      padding: 5px 15px;
      border: 1px solid white;
      text-decoration: none;
      &:hover {
        border: 1px solid red;
        background: red;
      }
      &:active {
        background: blue;
      }
    }
    select {
      display: none;
    }
  }
  
  @media (max-width: 960px) {
    nav {
      ul {
        display: none;
      }
      select {
        display: inline-block;
      }
    }
  }