/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Printshop
Version:	1.1
Last change:	28/11/2015 [fixed Float bug, vf]
Assigned to:	Netbase
Primary use:	admin 
-------------------------------------------------------------------*/  
@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "owl.carousel.css"; 
@import "settings.css"; 
@import "jquery.jscrollpane.css";  
@import "subscribe-better.css";
@import "owl.transitions.css"; 
@import "theme-default.css";
@import "newsletter.css";
@import "responsive.css";

.blog-list {
    margin-bottom: 50px;
}

.blog-meta {
    font-size: 18px;
    line-height: 1.5;
    padding: 0.8rem 0 0.5rem !important;
}

h3 {
    font-size: 22px;
}

.post_body {
    font-size: 18px;
    line-height: 2;
    padding: 0.8rem 0 0.5rem !important;
}

.post_title {
    margin-top: 30px;
    margin-bottom: 50px;
}

.pub {
    margin-bottom: 30px;
}

.featured_image {
    margin-bottom: 20px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .cat_section {
      margin-bottom: 30px;
  }